<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Username" value="admin"/>
    <add key="Password" value="qwerty"/>
    
    <add key="LeftCamIP" value="192.168.1.65"/>
    <add key="LeftCamPort" value="8000"/>
    <add key="LeftCamUsername" value="admin"/>
    <add key="LeftCamPassword" value="Li123123"/>
    <add key="RightCamIP" value="192.168.1.64"/>
    <add key="RightCamPort" value="8000"/>
    <add key="RightCamUsername" value="admin"/>
    <add key="RightCamPassword" value="Li123123"/>

    <add key="Relay1ComName" value="COM2"/>
    <add key="Relay1Address" value="0"/>
    <add key="Relay2ComName" value="COM2"/>
    <add key="Relay2Address" value="1"/>
    
    <add key="COMID" value="1"/>
    <add key="BaudRate" value="38400"/>
    <add key="ByteSize" value="8"/>
    <add key="Parity" value="0"/>
    <add key ="StopBits" value="1"/>
    
    <add key="motorController" value="comid=1;baudRate=38400;byteSize=8;parity=0;stopBits=1;"/>
  </appSettings>
</configuration>
